<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <filter>
        <filter-name>AuthorizeFilter</filter-name>
        <filter-class>filters.AuthorizeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthorizeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchArticleController</servlet-name>
        <servlet-class>controllers.SearchArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateArticleController</servlet-name>
        <servlet-class>controllers.CreateArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveUserController</servlet-name>
        <servlet-class>controllers.ActiveUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailController</servlet-name>
        <servlet-class>controllers.ViewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteArticleController</servlet-name>
        <servlet-class>controllers.DeleteArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApproveArticleController</servlet-name>
        <servlet-class>controllers.ApproveArticleController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCommentController</servlet-name>
        <servlet-class>controllers.CreateCommentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchArticleController</servlet-name>
        <url-pattern>/SearchArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateArticleController</servlet-name>
        <url-pattern>/CreateArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveUserController</servlet-name>
        <url-pattern>/ActiveUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailController</servlet-name>
        <url-pattern>/ViewDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteArticleController</servlet-name>
        <url-pattern>/DeleteArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApproveArticleController</servlet-name>
        <url-pattern>/ApproveArticleController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCommentController</servlet-name>
        <url-pattern>/CreateCommentController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
